header h1 a{
    color: red;
    background-color: cyan;
}

header h1 a:hover{
    color: brown
}

h2 a{
    color:gold;
}

h2 a:hover{
    color:brown;

}
p{
    color: rosybrown;
    font-size: 32px;
}