{% load static %}
<html>
    <head>
        <title>Первый блог на Django</title>
        <link rel='stylesheet' href='{% static 'css/base.css' %}'>
    </head>
    <body>
        <div class=container>
            <header>
                <div class='nav-left'>
                    <h1>
                        <a href='/'>Блог</a>
                    </h1>
                </div>
                <div class='nav-right'>
                    <a href='{% url "post_new" %}'>Добавить запись в блог</a>
                </div>
            </header>
            {% if user.is_authenticated %}
                <p><h3>Привет {{ user.username }}!</h3></p>
                <p><h3><a href="{% url 'logout' %}">Выйти</a></h3></p>
            {% else %}
                <p><h3>Вам необходимо войти</h3></p>
                <h3><a href="{% url 'login' %}">Войти</a></h3>
            {% endif %}
            
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>