{% extends 'base.html' %}
{% block content %}
    <h2>Удалить запись</h2>
    <form action="" method="post">{% csrf_token %}
        <p>Вы уверены, что хотите удалить эту запись?"{{ post.title }}"</p>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock content %}