{% extends 'base.html' %}

{% block content %}
    <h1>Редактировать</h1>
    <form action="" method="post"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Созранить изменения"/>
    </form>
{% endblock content %}