{% extends 'base.html' %}

{% block content %}
    <h1>Новый Пост</h1>
        <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить"/>
        </form>
{% endblock content %}