{% extends 'base.html' %}

{% block content %}
    <h3>Регистрация</h3>
    <form action="" method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}